body{
 background-image:url( C:\Users\toshiba\Desktop\happy-moon\photo_2025-07-12_00-19-21.jpg);
 background-size: cover;
 background-repeat: no-repeat;
 background-attachment: fixed;
margin: 0;
padding: 0;
background-color: rgb(3, 37, 82);
}
.bt{
    width:10px;
    height: 10px;
    border-radius: 10px ;
    background-color: green;
  margin-left: 2px;
}
.cv{
    width: 65px;
    height: 40px;
    background-color: red; 
text-align: center;
    border-radius: 5px;
padding-left: 6px;
  margin-top: 3px;
   margin-left: 1px;
    display: flex;
    align-items: center;
    gap: 5px;
}
.box{
   width: 400px;
   height: 450px;
   background-color:rgb(10, 25, 47);
margin-top: 70px;
   margin-inline-start: 500px;
 border-radius: 10px;
 border:1px dashed aqua;
box-shadow: 0 1px 10px rgb(0, 233, 163); 

 
}
.front{
   
    height: 25px;
    width:105px;
    background-color:red;
    color: white;
    text-transform: uppercase ;
border-radius: 3px;
    margin-left: 810px;
  margin-top:-460px;
    padding-top: 2px;
    position: relative;
 z-index: 1;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    word-spacing: 3px;
}
.box img{
    border-radius: 5px;
    align-items: center;margin-top:5px;
}
.box h1{
    color: aqua;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
   display:block;
 margin-bottom: 3px;
}
.box p{
 position: relative;
 margin-top: -2px;
    font-family:initial;
    text-align: center;
    color: white;
}
li{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 10px;
}
.options,.option{
    display:flex;
    gap: 2px;
}
.now{
    color: aqua;
    background-color: gray;
    margin-left: 30px;
    width: 50px;
    height: 25px;
    padding: 3px;
    text-align: center;


}
.react{
    width: 65px;
    height: 25;
    text-align: center;
    padding: 2px;
    background-color: aqua;
    color: black;
    
}

.plan{
    color: aqua;
    background-color: gray;
    margin-left: 30px;
    width: 50px;
    height: 25px;
    padding: 3px;
    text-align: center;
margin-top: 5px;

}
.next{
    width: 65px;
    height: 25;
    text-align: center;
    padding: 2px;
    background-color: aqua;
    color: black;
    margin-top: 5px;
}
.sub{
    background-color: aqua;
    color: black;
   width: 350px;
   margin-top: 30px;
    height: 50px;
border: 2px solid aqua; 
border-radius: 2px;
font-size: 15px;
box-shadow: 0 1px 10px rgb(0, 225, 233); 
margin-left: 30px;
}